In [4]:
import os
import pandas as pd

In [2]:
os.chdir('D:/USF/Data Visualization/learn-data-analysis-w-python-master/datasets')

#### This dataset has been downloaded from http://census.ire.org/data/bulkdata.html to access total population of florida state.

In [11]:
df=pd.read_csv("all_040_in_12.P1.csv")

In [12]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,12,40,12,NaN,NaN,NaN,NaN,NaN,Florida,18801310,8989580,15982378,7302947,18801310,15982378